<div class="profile__inner-edit">
  {{{profileAvatar}}}
  <h2 class="profile__info-name">
    {{user.first_name}} {{user.second_name}}
  </h2>
  <form class="profile__form">
    <div class="profile__info-section">
      <ul class="profile__info-list">
        {{#each userFields}}
        <li class="profile__info-item">
          {{{this}}}
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="profile__info-actions">
      {{{saveButton}}}
    </div>
  </form>
</div>
