<div class="popup {{#if isVisible}}popup--visible{{/if}}" style="{{#if x}}{{x}}: {{xValue}}px;{{/if}} {{#if y}}{{y}}: {{yValue}}px;{{/if}}">
  <div class="popup__content">
    {{{content}}}
  </div>
</div>
